<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Здравствуйте!</p>
<p>
  У вас появились непроверенные карточки.
  Регулярное повторение слов очень важно для изучения иностранного языка.
  <%= link_to 'Перейти на сайт для просмотра карточек', root_url %>
</p>
</body>
</html>